@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://lenient-free-warthog.ngrok-free.app */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* .uploadcare--widget__button_type_open {
  @apply bg-gray-800 text-white;
}

.uploadcare--widget__button_type_remove {
  @apply bg-gray-800 text-white;
} */
/* .previews {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 8px;
  width: 100%;
  margin-top: 20px;
}

.previewWrapper {
  @apply dark:bg-gray-600 bg-white;
  @apply dark:text-white text-black;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previewImage {
  display: block;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 8px;
}

.previewData {
  margin: 0;
  line-height: 1.4em;
  font-size: 13px;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */
